<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register" style="background-color: whitesmoke;color: black; height: 480px">
            <h3 class="title" style="color: black"><b>FORGET PASSWORD</b><br><small>Please enter the accurate details<br>for change password.</small></h3>
            <form class="register-form">
              <label>User Name</label>
              <input type="text" class="form-control" placeholder="User Name">

              <label>Email</label>
              <input type="text" class="form-control" placeholder="Email">
              <button class="btn btn-danger btn-block btn-round">Send Code</button>

            </form>

          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <br>
      </div>
    </div>
  </div>
</div>


